if command -v nix &> /dev/null; then
  use flake
else
  # check if hostname is midnight
  if [ "$(hostname)" = "midnight" ]; then
    source ./scripts/setup-env-midnight.sh
  else
    source ./scripts/setup-env.sh
  fi
fi
# env
dotenv_if_exists .env
dotenv_if_exists .env.local
